.containerWrapper {
  display: flex !important;
}

.boxWrapper {
  flex-grow: 1;
}

.radio-group-controller {
  display: flex;
  justify-content: center;
}

.input-text-fields {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.pagination-outer-wrapper {
  margin: 30px auto !important;
}
.pagination-inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
